.user-fields {
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.subtitle {
  color: rgb(189, 189, 189);
  margin: 10px 0 10px 20px;
}

.single-buttons {
  display: none;

  @media (min-width: 700px) {
    display: block;
  }
}

.menu-buttons {
  display: block;

  @media (min-width: 700px) {
    display: none;
  }
}

.user-search > div {
  width: 100%;
  float: left;

  @media (min-width: 560px) {
    width: 50% !important;
  }

  &:last-child {
    text-align: center;

    @media (min-width: 560px) {
      text-align: right;
    }
  }
}
